In [ ]:
b=open(<file name>, module)
b.close()

In [ ]:
syntax
with open('<file name>',<module>) as f:
    <operation>
    print(f.read())

In [ ]:
r= read file
a= append
w= write
x=create

In [ ]:
try:
    b=open('data.txt','x')
    b.close()
except:
        print("error occured")

In [ ]:
b=open('data.txt','r')
x=b.read()
print(x)
print(type(x))
print(b.read())
b.close()

In [ ]:
import math as m
try:
    x=int(input("enter x= "))
    print(m.pow(x,2))
except:
    print("enter only int data")

In [ ]:
b=open('datas.txt','w')
b.write("hello world i am python")
b.close()

In [ ]:

n=int(input("enter n= "))
bill= ""
for i in range(n):
      name=input("enter name= ")
      price=int(input("enter price= "))
      quantity=int(input("enter quantity= "))
      total=price*quantity
      data=f"{name} {price} {quantity} {total}\n"
      
      bill=bill+data
      print(bill)

In [ ]:
b=open('datas.txt','w')  #ms word ma khulxa
b.write('product price quantity total\n')
b.write(bill)
b.close()

In [ ]:
n=int(input("enter n= "))
bill= ""
for i in range(n):
      name=input("enter name= ")
      price=int(input("enter price= "))
      quantity=int(input("enter quantity= "))
      total=price*quantity
      data=f"{name}, {price}, {quantity}, {total}\n"
      
      bill=bill+data
      print(bill)

In [ ]:
b=open('datas.csv','w') #comma separated value excel ma khulxa
b.write('product,price,quantity, total\n')
b.write(bill)
b.close()

In [ ]:
file=open('datas.csv')
x=file.read()
print(x)

file.close()

In [ ]:
print(x)

In [ ]:
data=x.split("\n")[0:-1]
data

In [ ]:
final_data=[]
for i in data:
    y=i.split(',')
    final_data.append(y)
final_data

In [ ]:
final_data[1]

In [ ]:
product_name=input("enter product name= ")
for i in  final_data:
    if "coke" in i:
        print(i)

In [ ]:
product_name=input("enter product name= ").lower()
for i in  final_data:
    if product_name in i[0].lower():
        print(i)

In [ ]:
import pandas as pd
df=pd.read_csv('datas.csv')
df

In [ ]:
wap to create a result management system using CRUD in csv

In [ ]:
i=0
n=int(input("enter no of student = "))
st=""
for i in range(n):
    name=input("enter name= ")
    rollno=int(input("enter roll no.= "))
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    grade=(":A,B,C,fail")

    if per>=80:
        grade="A"
        print("A grade")
    elif per>=60:
        grade="B"
        print("B grade")
    elif per>=40:
        grade="C"
        print("C grade")
    else:
        grade="fail"
        print("fail")
    i=i+1
    print(i,"your grade is=  " ,grade)

    total=f"{name} {rollno} {physics} {chemistry} {math} {english} {nepali} {per} {grade}\n"
    st=st+total
    print(st)

In [ ]:
b=open('student.txt','w')  #ms word ma khulxa
b.write(f'name rollno physics chemistry math english nepali per grade\n')
b.write(st)
b.close()

In [ ]:
b=open('student.txt','r')
print(b.read(10))

b.read('name rollno physics chemistry math english nepali per grade\n')
b.read(st)
b.close()

In [ ]:
b=open('student.txt','w')  #ms word ma khulxa
b.write('name ,rollno, physics ,chemistry, math, english, nepali, per, grade\n')
b.write('st')
b.close()

In [6]:
i=0
n=int(input("enter no of student = "))
st=""
for i in range(n):
    name=input("enter name= ")
    rollno=int(input("enter roll no.= "))
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    grade=(":A,B,C,fail")

    if per>=80:
        grade="A"
        print(" A grade")
    elif per>=60:
        grade="B"
        print(" B grade")
    elif per>=40:
        grade="C"
        print(" C grade")
    else:
        grade="fail"
        print("  fail")
    i=i+1
    print(i,"your grade is=  " ,grade)

    total=f"{name}, {rollno}, {physics}, {chemistry}, {math} ,{english}, {nepali}, {per} ,{grade}\n"
    st=st+total
    print(st)

enter no of student = 5
enter name= a
enter roll no.= 1
enter physics marks=89
enter chemistry marks=88
enter math marks=99
enter english marks=78
enter nepali marks=90
 A grade
1 your grade is=   A
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A

enter name= b
enter roll no.= 2
enter physics marks=45
enter chemistry marks=66
enter math marks=78
enter english marks=89
enter nepali marks=55
 B grade
2 your grade is=   B
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A
b, 2, 45, 66, 78 ,89, 55, 66.6 ,B

enter name= c
enter roll no.= 44
enter physics marks=44
enter chemistry marks=43
enter math marks=34
enter english marks=33
enter nepali marks=35
  fail
3 your grade is=   fail
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A
b, 2, 45, 66, 78 ,89, 55, 66.6 ,B
c, 44, 44, 43, 34 ,33, 35, 37.8 ,fail

enter name= d
enter roll no.= 4
enter physics marks=55
enter chemistry marks=66
enter math marks=77
enter english marks=77
enter nepali marks=77
 B grade
4 your grade is=   B
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A
b, 2, 45, 66, 78 ,89, 55, 66.6 ,B
c, 44, 44, 43, 34 ,33, 35, 37.8 ,fail
d, 4, 55, 66, 77 ,77, 77, 70.4 ,B

enter name= e
enter roll no.= 44
enter physics marks=66
enter chemistry marks=77
enter math marks=1
enter english marks=2
enter nepali marks=56
 C grade
5 your grade is=   C
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A
b, 2, 45, 66, 78 ,89, 55, 66.6 ,B
c, 44, 44, 43, 34 ,33, 35, 37.8 ,fail
d, 4, 55, 66, 77 ,77, 77, 70.4 ,B
e, 44, 66, 77, 1 ,2, 56, 40.4 ,C

In [7]:
b=open('student.csv','r')  
print(b.read())
b.close()

name, rollno, physics, chemistry ,math, english, nepali ,per, grade
ram, 1, 66, 77, 88 ,99, 90, 84.0 ,A
shyam, 2, 45, 67, 56 ,78, 89, 67.0 ,B
hari, 34, 45, 56, 44 ,45, 43, 46.6 ,C
gita, 4, 23, 22, 12 ,2, 22, 16.2 ,fail
gopal, 5, 33, 66, 12 ,11, 1, 24.6 ,fail

In [8]:
b=open('student.csv','w')  
b.write(f'name, rollno, physics, chemistry ,math, english, nepali ,per, grade\n')
b.write(st)
b.close()

In [9]:
b=open('student.csv')
print(b.read())
b.close()

name, rollno, physics, chemistry ,math, english, nepali ,per, grade
a, 1, 89, 88, 99 ,78, 90, 88.8 ,A
b, 2, 45, 66, 78 ,89, 55, 66.6 ,B
c, 44, 44, 43, 34 ,33, 35, 37.8 ,fail
d, 4, 55, 66, 77 ,77, 77, 70.4 ,B
e, 44, 66, 77, 1 ,2, 56, 40.4 ,C

In [10]:
import pandas as pd
df=pd.read_csv('student.csv')
df

  name   rollno   physics   chemistry   math   english   nepali    per  grade
0    a        1        89           88    99        78        90  88.8      A
1    b        2        45           66    78        89        55  66.6      B
2    c       44        44           43    34        33        35  37.8   fail
3    d        4        55           66    77        77        77  70.4      B
4    e       44        66           77     1         2        56  40.4      C

In [ ]:
a=[2,3,4,5,56,6667,2,1]
print(a.sort())
print(a)

In [15]:
d={'ram': [98087, 9076566], 'shyam': [986655, 90344]}
e=d.sort[0][0]

AttributeError: 'dict' object has no attribute 'sort'

In [18]:

a={'ram':89,'shyam':86,'hari':30}
b=list(a.values())
print(b)
print(b.sort())
print(b)
print(max(b))
print(min(b))
# for i in a.values():
#     print(i)

# print(max(a[1]))
# print(min(a[1]))
# a.append

[89, 86, 30]
None
[30, 86, 89]
89
30

In [26]:
a={'ram':[89,45],'shyam':[86,90],'hari':[90,200]}
b=list(a.values())
print(b)
print(b.sort())
print(b)
print(max(list(b[0])))
print(min(list(b[0])))
print(max(list(b[1])))
print(max(list(b[2])))
print(min(list(b[1])))
print(min(list(b[2])))

[[89, 45], [86, 90], [90, 200]]
None
[[86, 90], [89, 45], [90, 200]]
90
86
89
200
45
90

   physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    i=i+1
    a.append(total)
    total=f"{name} {rollno} {physics} {chemistry} {math} {english} {nepali} {per} \n"
    st=st+total
    print(st)
    b= a.append(st)

 a=[]
i=0
n=int(input("enter no of student = "))
st=""
for i in range(n):
    name=input("enter name= ")
    rollno=int(input("enter roll no.= "))
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    t=int(physics+chemistry+math+english+nepali)
    print(t)
    i=i+1
    a.append(total)
    total=f" {physics} {chemistry} {math} {english} {nepali} {per} \n"
    st=st+total
    print(st)
    b= a.append(st)

    print("the frist rank is", max(t))
    print("the last rank is" ,min(t))

In [34]:
 a=[]

n=int(input("enter no of student = "))
st=""
for i in range(n):
#     name=input("enter name= ")
#     rollno=int(input("enter roll no.= "))
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    t=int(physics+chemistry+math+english+nepali)
    print('the total marks is',t)
    data=[physics,chemistry,math,english,nepali,total]
    b = a.append(data)
print(b)
# print(b.sort())
# print(b)
# print("the frist rank is",max(b[5]))
# print("the last rank is",min(b[5]))
# print(a)
#     i=i+1
#     a.append(total)
#     total=f" {physics} {chemistry} {math} {english} {nepali} {per} \n"
#     st=st+total
#     print(st)
#     b= a.append(st)
    
# w=t.sort()

# print("the frist rank is", max(w))
# print("the last rank is" ,min(w))

enter no of student = 2
enter physics marks=3
enter chemistry marks=3
enter math marks=4
enter english marks=45
enter nepali marks=5
the total marks is 60
enter physics marks=45
enter chemistry marks=56
enter math marks=66
enter english marks=77
enter nepali marks=66
the total marks is 310
None

In [7]:
t=0
a=[]
n=int(input("enter n= "))
for i in range(n):
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    print('the total marks is',total)
    data=[physics,chemistry,math,english,nepali,total]
    b = a.append(data)
# print(a)
# print(a.sort())
# print(a)
# print(max(a[0]))
# print(min(a[0]))
x=t.append(total)
t=t+total
print(t)


print(total)

enter n= 2
enter physics marks=33
enter chemistry marks=33
enter math marks=33
enter english marks=33
enter nepali marks=33
the total marks is 165
enter physics marks=333
enter chemistry marks=444
enter math marks=55
enter english marks=55
enter nepali marks=66
the total marks is 953

AttributeError: 'int' object has no attribute 'append'