In [ ]:
#list 
# indexing
# ordered
# multiple and duplicate
# mutable

In [ ]:
l=[1,2,3,4]
print(type(l))
print(l)

In [ ]:
a=["apple","ball","cat","dog"]
print(a[0])

In [ ]:
a=["apple","ball","cat","dog"]
print(a[3])

In [ ]:
a=["apple","ball","cat","dog"]
print(a[0:3])

In [ ]:
a=["apple","ball","cat","dog"]
print(a[0:3:2])

In [ ]:
a=["apple","ball","cat","dog","apple"]
print(a)

In [ ]:
a=["apple","ball","cat","dog","apple",1,2]
print(a)

In [ ]:
a=["apple","ball"]
b=["cat","dog"]
c=a+b
print(c)

In [ ]:
a=["apple","ball"]
b=["cat","dog"]
c=b+a
print(c)

In [ ]:
a=["apple","ball","cat","dog","apple"]
a[0]="ant"
print(a)

In [ ]:
# append() insert() extend()

In [ ]:
a=list()  # or a=[]
a.append("apple")
a.append("ball")
a.append("cat")
print(a)

In [ ]:
a=['apple', 'ball', 'cat']
a.insert(1,"ant")# afule chayeko thau ma value rakhana insert use not append
print(a)

In [ ]:
a=['apple', 'ball', 'cat']
a.append("dog")
print(a)

In [ ]:
a=['apple', 'ball', 'cat']
b=["dog","cat","fish"]
a.extend(b)
b.extend(a)
print(a)
print(b)

 a=[]
n=int(input("enter n= "))
for i in  range(n):
    x=input("enter x= ")
    a.append(x)
print(a)

In [1]:
a=[]
n=int(input("enter n= "))
for i in  range(n):
    x= int(input("enter x= "))
    a.append(x)
print(a)

enter n= 5
enter x= 1
enter x= 2
enter x= 3
enter x= 4
enter x= 5
[1, 2, 3, 4, 5]

In [ ]:
print("the max value=  ",max(a))
print("the min value=  ",min(a))
print("the sum of nos= ",sum(a))
a.sort()# order ma rakhne
print(a)
a.reverse()
print(a)

In [ ]:
print("min= ",a[0])
print("max ",a[-1])

In [ ]:
 a=[]
n=int(input("enter n= "))
for i in  range(n):
    x=input("enter x= ")
    a.append(x)
print(a)

In [ ]:
a.sort()
print(a)
a.reverse()
print(a)

In [ ]:
#update
a=['apple ', 'ball', 'cat', 'dog', 'elephant']
a[0]='ant'
print(a)

In [ ]:
#del remove() pop()
a=['ant', 'ball', 'cat', 'dog', 'elephant']
#del remove() pop()
del a[0:3]
print(a)

In [ ]:
a=['ant', 'ball', 'cat', 'dog', 'elephant']
del a[4]
print(a)

In [ ]:
a=['ant', 'ball', 'cat', 'dog', 'elephant']
a.remove("ant")
print(a)

In [ ]:
a=['ant', 'ball', 'cat', 'dog','ant', 'elephant']
a.remove("ant")
print(a)

In [ ]:
a=['ant', 'ball', 'cat', 'dog','ant', 'elephant']
del a[0]
print(a)

In [ ]:
b=[]
a=['ant', 'ball', 'cat', 'dog','ant', 'elephant']
for i in a:
    if i!="ant":
        b.append(i)
print(b)

In [ ]:
a='ant', 'elepha=['ant', 'ball', 'cat', 'dog',ant']
for i in range(len(a)):
    if a[i]=="ant":
        print(i)

In [ ]:
a.count("ant"),a.count("bal")

In [ ]:
a=['ant', 'elephant','ant', 'ball', 'cat', 'dog']
a.pop()
print(a)
b=a.pop(1)
print(b)

In [2]:
#list inside list
a=[[1,2,3]
  ,[4,5,6],
 [7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [3]:
print(a[0])
print(a[1])
print(a[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [4]:
a=[[1,2,3,4,5]
  ,[4,5,6],
 [7,8,9]]
print(len(a))

3

In [ ]:
a=[[1,2,3,4,5]
  ,[4,5,6],
 [7,8,9]]
b=[1,1,1]
c=a+b
print(c)

In [ ]:
a=[[1,2,3,4,5]
  ,[4,5,6],
 [7,8,9]]
b=[[1,1,1]]
c=a+b
print(c)

In [5]:
a=[["ram",23,"kathmandu"],
["shyam", 34, "pokhara"],
["nabin",24,"bhaktapur"]]
print(a)

[['ram', 23, 'kathmandu'], ['shyam', 34, 'pokhara'], ['nabin', 24, 'bhaktapur']]

In [6]:
print(a[2])
print(i)

['nabin', 24, 'bhaktapur']
4

In [7]:
for i in a:
    print(a[0])

['ram', 23, 'kathmandu']
['ram', 23, 'kathmandu']
['ram', 23, 'kathmandu']

In [8]:
a=["apple",'ball','cat']
for i in a:
    print(i)

apple
ball
cat

In [9]:
name=input("enter name= ")
for i in a:
    if name in i:
        print(i)

enter name= mp

In [10]:
a=[["ram",23,"kathmandu"],
["shyam", 34, "pokhara"],
["nabin",24,"bhaktapur"]]
print(a[0][0])

ram

In [11]:
name=input("enter name= ").lower()
for i in a:
    if name in i[0].lower():
        print(i)
        break
    else:
        print("error")

enter name= mp
error
error
error

a=[]
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    age=int(input("enter age= "))
    add=input("enter add= ")
    data=[name,age,add]
    a.append(data)
print(a)

In [2]:
a=[]
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    age=int(input("enter age= "))
    add=input("enter add= ")
    data=[name,age,add]
    a.append(data)
print(a)

enter n= 2
enter name= e
enter age= 3
enter add= r
enter name= t
enter age= 4
enter add= y
[['e', 3, 'r'], ['t', 4, 'y']]

In [ ]:
#update
a=[['ram', 34, 'ktm'], ['hari', 45, 'bhk']]
a[0]=['rama',33,'lalitpur']
print(a)

In [ ]:
a=[['ram', 34, 'ktm'], ['hari', 45, 'bhk']]
a[0][0]='rama'
print(a)

In [ ]:
a=[['ram', 34, 'ktm'], ['hari', 45, 'bhk']]
del a
print(a)

In [ ]:
a=[['ram', 34, 'ktm'], ['hari', 45, 'bhk']]
a.clear()#mutable function lai print garna mildaina
print(a)

In [1]:
a=[['ram', 34, 'ktm'], ['hari', 45, 'bhk']]
del a[0][0]
print(a)

[[34, 'ktm'], ['hari', 45, 'bhk']]

In [ ]:
a=[[[1,2],[3,4]]]
print(a)

In [1]:
bill=[['name','price','quantity','total']]
n=int(input("enter n= "))
for i in range(n):
    product=input("enter name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity"))
    total=price*quantity
    data=[product,price,quantity,total]
    bill.append(data)
print(bill)

enter n= 2
enter name= momo
enter price= 3
enter quantity4
enter name= chw
enter price= 33
enter quantity4
[['name', 'price', 'quantity', 'total'], ['momo', 3, 4, 12], ['chw', 33, 4, 132]]

In [ ]:
#a=['coke',100,2,200],[momo,150,2,300],['pizza',300,2,600]
# wap to create a matrix
# row=?
# col=?

In [ ]:
bill=[['name','price','quantity','total']]
n=int(input("enter n= "))
for i in range(n):
    product=input("enter name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity"))
    total=price*quantity
    data=[product,price,quantity,total]
    bill.append(data)
print(bill)

r=int(input("enter row= "))
c=int(input("enter column= "))
a=[]


for i in range(r):
    b=[]
for j in range(c):
    c=int(input())
    c.append(b)
    a.append(b)
for i in range(r):
    for j in range(c):
        print(a[i][j],end=' ')
    print()

r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number in row")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j],end=" ")
    print()

 r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number in row")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j],end=" ")
    print()

In [ ]:
mat=[[int(input()) for x in range(c)] for y in range (r),end=]
print(mat)

In [ ]:
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number in row")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j],end=" ")
    print()

In [ ]:
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
for i in

In [ ]:
a=[]
bill=[['name','price','quantity','total']]

n=int(input("enter n= "))
for i in  range(n):
    product=input("enter name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity= "))
    total=price*quantity
    data=[product,price,quantity,total]
    a.append(data)
    a.sort(price)
    a.sort(quantity)
    a.sort(total)
print(a)
print(bill)
print("the maximum value",max(a))
print("the minimum value",min(a))

In [ ]:
a=[]
i=0
n=int(input("enter no of student = "))
st=""
for i in range(n):
    name=input("enter name= ")
    rollno=int(input("enter roll no.= "))
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    math=int(input("enter math marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    i=i+1
    a.append(total)
    total=f"{name} {rollno} {physics} {chemistry} {math} {english} {nepali} {per} \n"
    st=st+total
    print(st)
    b= a.append(st)

    print("the frist rank is", max(st))
    print("the last rank is" ,min(st))

In [ ]:
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    m.append(a)
for i in range(r):
    for j in range(c):
        print(m[i][j],end=" ")
    print()

In [ ]:
a=[]
n=int(input("enter n= "))
for i in range(n):
    b=int(input("enter b= "))
a.append(b)
print(a)
b=a.sort()
print("the maximum", max(b))

In [12]:
a=[]
b=[]
r=int(input("enter row= "))
c=int(input("enter column= "))

for i in range(r):
    a.append(r)
for j in range(c):
    b.append(c)

print(a),print(b)

enter row= 2
enter column= 2
[2, 2]
[2, 2]

(None, None)

5
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number in row")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    m.append(a)
for i in range(r):
    for j in range(c):
        print(m[i][j],end=" ")
    print()

r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number ")
for i in range(r):
    a=[]
    b=[]
    for j in range(c):
        m.append(a)
        m.append(b)
        print(m,end=' ')

In [14]:
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number ")
for i in range(r):  
for j in range(c):
    m.append(c)

IndentationError: expected an indented block (Temp/ipykernel_3972/1668303058.py, line 6)

In [ ]:
n= int(input("enter n = "))
for i in range(n):
    print(n)
    i=i+1
    
for j in range(n):
    print(n,end=' ')
    j=j+1

In [15]:

n=int(input("enter n= "))
z=""
for i in range(n):
    a=int(input("enter frist num"))
    b=int(input("enter second num"))
    c=int(input("enter third number"))
    
    d=f" {a}  {b} {c} \n"
    z=z+d
    print(z)

enter n= 2
enter frist num1
enter second num2
enter third number3
 1  2 3

enter frist num1
enter second num2
enter third number3
 1  2 3
 1  2 3

In [ ]:
grandtotal=0
n=int(input("enter n= "))
bill=""
for i in range(n):
    price=int(input("enter frist num"))
    quantity=int(input("enter second num"))
    total=price*quantity
    grandtotal=grandtotal+total
    data=f" {price}  {quantity} {total}\n"
    bill=bill+data
    print(bill)

In [ ]:
r=int(input("enter no of rows"))
c=int(input("enter no of column"))
m=[]
print("enter the number in row")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    m.append(a)
for i in range(r):
    for j in range(c):
        print(m[i][j],end=" ")
    print()

In [16]:
scores=[67,89,87,87,34,90]
ranks=[]
for score in scores:
    print(ranks.append(scores.index(score)+1))
    print(ranks)

None
[1]
None
[1, 2]
None
[1, 2, 3]
None
[1, 2, 3, 3]
None
[1, 2, 3, 3, 5]
None
[1, 2, 3, 3, 5, 6]

In [ ]:
m=[1,2,3]
n=[]

a=[[1,2,3],[4,5,6]]

In [3]:
m=[]
r=int(input("enter r= "))
c=int(input("enter c= "))
for i in range(r):
    n=[]
    for j in range(c):
        x=int(input("enter x= "))
        n.append(x)
    m.append(n)6
print(m)

enter r= 3
enter c= 3
enter x= 1
enter x= 2
enter x= 3
enter x= 4
enter x= 5
enter x= 6
enter x= 7
enter x= 89
enter x= 9
[[1, 2, 3], [4, 5, 6], [7, 89, 9]]

In [18]:
a=()
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    age=int(input("enter age= "))
    add=input("enter add= ")
    data=(name,age,add)
    a=a+(data,)
print(a)

enter n= 2
enter name= e
enter age= 3
enter add= 4
enter name= f
enter age= 3
enter add= e
(('e', 3, '4'), ('f', 3, 'e'))