In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
s=0
n=int(input("enter n= "))
for i in range(n):
    x=int(input("enter x= "))
    s=s+x
print(s)

enter n= 4
enter x= 5
enter x= 5
enter x= 6
enter x= 6
22

s=0
n=int(input("enter n= "))
for i in range(n):
    x=int(input("enter x= "))
    s=s+x
    print(s)

In [7]:
s=0    # or  s=int()
n=int(input("enter n= "))   # kati time user sanga input line
for i in range(n):
    x=int(input("enter x= "))
    s=s+x
    print(s)

enter n= 3
enter x= 5
5
enter x= 3
8
enter x= 4
12

In [10]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

In [21]:
#4!=1*2*3*4
fac=1
n= int(input("enter n="))
if n>=0:
    for i in range(1,n+1):
        fac=fac*i
else:
    print("invalid input")
print(fac)

enter n=0
1

In [31]:
a="python"
for i in a:   #string seq of character
    print(i)

p
y
t
h
o
n

In [32]:
a="python"
for i in a: 
    print(i,"hello world")

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world

In [33]:
a="python"
for i in a: 
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world

In [35]:
a="hello world i am python"
for i in a: 
    if i!="":
        print(i , end="")

hello world i am python

In [41]:

for i in a: 
    if i!="l" and i!=" ":
        print(i,end=".")

h.e.o.w.o.r.d.i.a.m.p.y.t.h.o.n.

In [45]:
a="hello world i am python"
l=len(a)
for i in range(l):
    if a[i] !=" ":
        print(a[i],end ="")

helloworldiampython

In [43]:
a="python"
a[-1]

'n'