In [ ]:
import mysql.connector as dbs  #importing database

database = dbs.connect(
  host="localhost",
  user="root",
  password="",

  database = "pythonclass2pm"
)
db = database.cursor()

In [ ]:
!pip install mysql-connector

In [ ]:
db.execute("SELECT * from student")
result=db.fetchall()
for x in result:
    print(x)

In [ ]:
db.execute("SELECT * from student WHERE name='ram'")
result=db.fetchall()
for x in result:
    print(x)

In [ ]:
db.execute("SELECT * from student WHERE per>=84.0")
result=db.fetchall()
for x in result:
    print(x)

In [ ]:
db.execute("SELECT * from student WHERE name='ram' or per>=84.0")
result=db.fetchall()
for x in result:
    print(x)

In [ ]:
db.execute("SELECT * from student WHERE name='ram' or per<84.0")
result=db.fetchall()
for x in result:
    print(x)

In [ ]:
sql='''INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,per,grade)
VALUES(7,'mp',70,90,87,60,45,400,80,'A')'''

db.execute(sql) #sql run
database.commit()

In [ ]:
wap to insert data in database takeing from user
update 
delete

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="pythonclass2pm"
)
mycursor = mydb.cursor()
a=int(input("enter sn\n"))
b=input("enter your name\n")
c=int(input("enter your physics marks\n"))
d=int(input("enter your chemistry marks\n"))
e=int(input("enter your math marks\n"))
f=int(input("enter your english marks\n"))
g=int(input("enter your nepali marks\n"))
h=int(input("enter your total marks\n"))
i=float(input("enter your percentage\n"))
j=input("enter your grade\n")
sql = "INSERT INTO student VALUES('sn','name','physics','chemistry','math','english','nepali','total','per','grade')"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record inserted")

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [ ]:
import mysql.connector

database = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="pythonclass2pm"
)

db = database.cursor()

sql = "DELETE FROM student WHERE name='ham' "

db.execute(sql)

database.commit()

print(db.rowcount, "record(s) deleted")

In [21]:
import mysql.connector

db = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="",
  database="pythonclass2pm"
)
mycursor = db.cursor()
  

sql = "UPDATE student SET name='ramro' WHERE name='ram'"
mycursor.execute(sql)

db.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [10]:
import mysql.connector

db = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="",

  database="pythonclass2pm"

)

mycursor = db.cursor()

sql = "UPDATE student SET physics=100 WHERE physics>=50"

mycursor.execute(sql)

db.commit()

print(mycursor.rowcount, "record(s) affected")

2 record(s) affected