In [2]:
import mysql.connector as dbs  #importing database

database = dbs.connect(
  host="localhost",
  user="root",
  password="",

  database = "pythonclass2pm"
)
db = database.cursor()

ModuleNotFoundError: No module named 'mysql'

In [7]:
import mysql.connector as dbs #importing database
database=dbs.connect(
    host="localhost",
    user="root",
    password="",
 database="pythonclass2pm"
)
db=database.cursor()

In [8]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'ram', 78, 67, 90, 87, 80, 400, 80.0, 'A')
(3, 'hari', 33, 44, 55, 66, 77, 440, 84.0, 'A')
(4, 'harai', 33, 44, 55, 66, 77, 440, 84.0, 'A')
(6, 'mp', 70, 90, 87, 60, 45, 400, 80.0, 'A')
(7, 'mp', 70, 90, 87, 60, 45, 400, 80.0, 'A')

In [9]:
db.execute("SELECT * FROM student WHERE name='ram'")
result=db.fetchall()
for x in result:
    print(x)

(1, 'ram', 78, 67, 90, 87, 80, 400, 80.0, 'A')

In [11]:
db.execute("SELECT * FROM student WHERE per>=84.0")
result=db.fetchall()
for x in result:
    print(x)

(3, 'hari', 33, 44, 55, 66, 77, 440, 84.0, 'A')
(4, 'harai', 33, 44, 55, 66, 77, 440, 84.0, 'A')

In [13]:
db.execute("SELECT * FROM student WHERE name='ram' or per>=84.0")
result=db.fetchall()
for x in result:
    print(x)

(1, 'ram', 78, 67, 90, 87, 80, 400, 80.0, 'A')
(3, 'hari', 33, 44, 55, 66, 77, 440, 84.0, 'A')
(4, 'harai', 33, 44, 55, 66, 77, 440, 84.0, 'A')

In [ ]:
INSERT INTO `student`(`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) VALUES ('[value-1]','[value-2]','[value-3]','[value-4]','[value-5]','[value-6]','[value-7]','[value-8]','[value-9]','[value-10]')

In [16]:
sql='''INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,per,grade)
VALUES (8,'ham',33,44,66,77,88,400,80,'A')'''
db.execute(sql)
database.commit()