In [ ]:
b=open('<file name>','module')
b.close()

In [ ]:
syntax
with open('<file name'.'module') as f:
    <operation>

In [ ]:
r=read file
a=append
w=write
x=create

In [2]:
b=open('data1.txt','x')
b.close()

FileExistsError: [Errno 17] File exists: 'data1.txt'

In [3]:
try:
    b=open('data1.txt','x')
    b.close()
except:
    print("errror occured")

errror occured

In [17]:
try:
    b=open('data1.txt','r')
    data=(b.read())
    print(data)
    print(type(data))
    b.close()
except:
    print("error occured")

hello world
hello world
hello world
hello world
hello world
<class 'str'>

In [18]:
try:
    x=int(input("enter x= "))
except:
    print("enter only int data")

enter x= sdded
enter only int data

In [19]:
import math as m
try:
    x=int(input("enter x= "))
    print(m.pow(x,2))
except:
    print("enter only int data")

enter x= 2
4.0

In [24]:
b=open('datas1.txt','w')
b.write("hello world i am python")
b.close()

In [25]:

n=int(input("enter n= "))
bill= ""
for i in range(n):
      name=input("enter name= ")
      price=int(input("enter price= "))
      quantity=int(input("enter quantity= "))
      total=price*quantity
      data=f"{name} {price} {quantity} {total}\n"
      bill=bill+data
print(bill)

enter n= 2
enter name= momo
enter price= 33
enter quantity= 4
enter name= chw
enter price= 33
enter quantity= 1
momo 33 4 132
chw 33 1 33

In [28]:
b=open('datas1.txt','w')
b.write('product price quantity total\n')
b.write(bill)
b.close()

In [29]:
n=int(input("enter n= "))
bill= ""
for i in range(n):
      name=input("enter name= ")
      price=int(input("enter price= "))
      quantity=int(input("enter quantity= "))
      total=price*quantity
      data=f"{name} ,{price}, {quantity}, {total}\n"
      bill=bill+data
print(bill)

enter n= 2
enter name= m0m
enter price= 33
enter quantity= 43
enter name= ff
enter price= 44
enter quantity= 4
m0m ,33, 43, 1419
ff ,44, 4, 176

In [33]:
b=open('datas1.csv','w')  #comma separated value
b.write('product price quantity total\n')
b.write(bill)
b.close()

In [34]:
file=open('datas1.csv')
print(file.read())
file.close

product price quantity total
m0m ,33, 43, 1419
ff ,44, 4, 176

In [35]:
file=open('datas1.csv')
x=(file.read())
print(x)
file.close()

product price quantity total
m0m ,33, 43, 1419
ff ,44, 4, 176

In [37]:
print(x)

product price quantity total
m0m ,33, 43, 1419
ff ,44, 4, 176

In [38]:
x

'product price quantity total\nm0m ,33, 43, 1419\nff ,44, 4, 176\n'

In [39]:
x.split('\n')

['product price quantity total', 'm0m ,33, 43, 1419', 'ff ,44, 4, 176', '']

In [41]:
data=x.split('\n')[0:-1]
data

['product price quantity total', 'm0m ,33, 43, 1419', 'ff ,44, 4, 176']

In [45]:
final_data=[]
for i in data:
    y=(i.split(','))
    final_data.append(y)
final_data

[['product price quantity total'],
 ['m0m ', '33', ' 43', ' 1419'],
 ['ff ', '44', ' 4', ' 176']]

In [46]:
final_data[1]

['m0m ', '33', ' 43', ' 1419']

In [57]:
for i in final_data:
    if "coke" in i:
        print(i)

In [60]:
product_name=input("enter product name= ").lower()
for i in final_data:
    if product_name in i[0].lower():
        print(i)

enter product name= ff
['ff ', '44', ' 4', ' 176']

In [62]:
b=open('datas1.csv')
print(b.read())
b.close()

product price quantity total
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176
m0m ,33, 43, 1419
ff ,44, 4, 176

In [67]:
import pandas as pd
df=pd.read_csv('datas1.csv')
df

  product   price   quantity   total
0    m0m       33         43    1419
1     ff       44          4     176