In [ ]:
# tuple
# indexed
# ordered
# duplicate and multiple 
# imutable
#static data save garna use hunxa tuple

In [1]:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [2]:
a=(1,2,3,4,5)
print(a[2])

3

In [3]:
a=(1,2,3,4)
b=(3,4,5)
c=a+b
print(c)

(1, 2, 3, 4, 3, 4, 5)

In [1]:
a=(1,2,3,4)
b=(3,4,5)
c=[a+b]
print(c)

[(1, 2, 3, 4, 3, 4, 5)]

In [ ]:
#no  update delete
# no append() extend() insert()
# no del remove() pop()
# no sort()

In [4]:
a=('apple','ball')
print(type(a))

<class 'tuple'>

In [8]:
a=('apple')
print(type(a))

<class 'str'>

In [5]:
a=('apple',)
print(type(a))

<class 'tuple'>

In [6]:
a=()
b=("apple",)
c=("ball",)
d=a+b+c
print(d)

('apple', 'ball')

In [9]:
a=('apple','ball')
b=list(a)
del b[0]
b

['ball']

In [12]:
a=('apple','ball')
b=list(a)
del b[0]
a=tuple(b)
a

('ball',)

In [14]:
a=tuple("hello world")
a

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [13]:
a=list("hello world")
a

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [15]:
a=['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
str(a)

"['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']"

In [ ]:
a=[]
n=int(input("enter n= "))
for i in  range(n):
    x= int(input("enter x= "))
    a.append(x)
print(a)

In [17]:
a=()
n=int(input("enter n= "))
for i in  range(n):
    x= (input("enter x= "))
    a=a+(x,)#making tuple
print(a)

enter n= 2
enter x= a
enter x= b
('a', 'b')

In [ ]:
#tuple inside tuple

In [18]:
a=((1,2,3),(4,5,6),(7,8,9))
print(list(a))

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [20]:
a=[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
a[0]=(11,22,33)
a

[(11, 22, 33), (4, 5, 6), (7, 8, 9)]

In [21]:
a=[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
a[0]=(11,2,3)
a

[(11, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
a=([1,2,3],[4,5,6],[7,8,9])
a[0]

In [19]:
a=([1,2,3],[4,5,6],[7,8,9])
a[0][0]=11
a

([11, 2, 3], [4, 5, 6], [7, 8, 9])

In [4]:
# wap to create tuple inside tuple
a=()
print(a)
a=(1,2,3)
print(a)
a=("apple",(1,2,3), [6,7,8])
print(a)

()
(1, 2, 3)
('apple', (1, 2, 3), [6, 7, 8])

In [13]:
a=()
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    age=int(input("enter age= "))
    add=input("enter add= ")
    data=(name,age,add)
    a=a+(data,)
print(a)

enter n= 2
enter name= e
enter age= 3
enter add= r
enter name= t
enter age= 5
enter add= e
(('e', 3, 'r'), ('t', 5, 'e'))

In [1]:
m=()
r=int(input("enter r= "))
c=int(input("enter c= "))
for i in range(r):
    n=()
    for j in range(c):
        x=int(input("enter x= "))
        n=n+(x,)
    m=m+(n,)
print(m)

enter r= 2
enter c= 2
enter x= 1
enter x= 2
enter x= 3
enter x= 4
((1, 2), (3, 4))

In [ ]:
sot